In [385]:
import sys
sys.path.append('../../')

from IPython.core.display import display
import numpy as np
import pandas as pd
import networkx as nx
import utils.graph_utils as graph_utils
from utils.IO_utils import load_ground_true
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn import svm

In [386]:
# settings
np.random.seed(2020)
name = "Dblp"
dim = 4
come_model_type = "BGMM"
ks = [2, 5, 10, 20]

In [387]:
# import graph and true labels

# graph
G = graph_utils.load_matfile(f"../../data/{name}/{name}.mat", undirected=True)

# labels_true
labels_true, _ = load_ground_true(path=f"../../data/{name}", file_name=name)
labels_true = np.array(labels_true) - 1  # 1..5 -> 0..4

In [388]:
# import node embeddings and predicted labels
dfs = {}
for k in ks:
    # import node embeddings
    df = pd.read_csv(
        f"./data/{name}_alpha-0.1_beta-0.1_ws-10_neg-5_lr-0.025_icom-219_ind-219_ds-0.0_d-{dim}_type-{come_model_type}_k-{k}.txt",
        sep="\t| ",
        header=None
    )
    df = df.rename(columns={0: 'node'})
    df.set_index(['node'], inplace=True)

    # import predicted labels
    labels_pred = pd.read_csv(f"./data/labels_pred_{come_model_type}_d{dim}_k{k}.txt", header=None)
    labels_pred = labels_pred.rename(columns={0: 'label_pred'})
    labels_pred.label_pred = labels_pred.astype(int)

    # join labels pred and true to embeddings
    df = df.join(labels_pred)
    df['label_true'] = labels_true

    print(f"k = {k}")
    display(df)
    display(df.describe())
    dfs[k] = df

k = 2
k = 5
k = 10
k = 20

/Users/anton/miniconda3/envs/MT/lib/python3.6/site-packages/ipykernel_launcher.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

/Users/anton/miniconda3/envs/MT/lib/python3.6/site-packages/ipykernel_launcher.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

/Users/anton/miniconda3/envs/MT/lib/python3.6/site-packages/ipykernel_launcher.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

/Users/anton/miniconda3/envs/MT/lib/python3.6/site-packages/ipykernel_launcher.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

              1         2         3         4  label_pred  label_true
node
0     -6.796496  4.498433 -1.441207 -1.233646           0           0
1     -5.088080  3.510255 -1.421663 -0.529846           0           2
2     -6.934660  4.554262 -1.417570 -1.316198           0           2
3     -6.874332  4.453515 -1.601840 -1.015215           0           0
4     -6.759759  4.354271 -1.476532 -1.125797           0           0
...         ...       ...       ...       ...         ...         ...
13179 -4.292210  2.988957 -1.035291 -0.667438           0           0
13180 -0.588716 -1.609517 -0.547081 -4.872855           1           3
13181 -0.320007 -1.589967 -0.812492 -3.796077           1           3
13182  3.396378  2.351284 -2.776667 -1.646715           0           4
13183 -4.759323  2.119804 -0.717980 -1.218262           0           0

[13184 rows x 6 columns]

,1,2,3,4,label_pred,label_true
count,13184.000000,13184.000000,13184.000000,13184.000000,13184.000000,13184.000000
mean,-1.035944,1.334551,-1.522644,-1.741813,0.413683,2.190382
std,3.285863,2.287144,1.273684,1.867440,0.492512,1.315339
min,-9.700788,-4.734879,-7.730940,-8.815291,0.000000,0.000000
25%,-4.115837,-0.440451,-2.275625,-2.669530,0.000000,1.000000
50%,-0.563402,1.263789,-1.414083,-1.120545,0.000000,3.000000
75%,1.027375,3.107751,-0.638744,-0.302374,1.000000,3.000000
max,7.785580,7.729998,1.319673,1.233773,1.000000,4.000000

              1         2         3         4  label_pred  label_true
node
0     -6.702092  4.152856 -2.236458 -1.515807           3           0
1     -4.725461  3.106965 -2.034815 -0.672380           3           2
2     -6.860550  4.252619 -2.187909 -1.644050           3           2
3     -6.801749  4.132443 -2.431972 -1.335563           3           0
4     -6.601711  3.977814 -2.239155 -1.398612           3           0
...         ...       ...       ...       ...         ...         ...
13179 -4.139425  2.724645 -1.644061 -0.721217           3           0
13180 -0.371807 -1.011282  0.170915 -4.385050           2           3
13181 -0.267822 -1.456311 -0.751795 -3.463749           2           3
13182  3.000248  1.793526 -3.622529 -0.813414           0           4
13183 -4.551679  1.659637 -1.298890 -1.169029           3           0

[13184 rows x 6 columns]

,1,2,3,4,label_pred,label_true
count,13184.000000,13184.000000,13184.000000,13184.000000,13184.000000,13184.000000
mean,-1.187027,1.020127,-1.870375,-1.697786,1.862940,2.190382
std,3.035517,1.986708,1.914760,1.919548,1.272699,1.315339
min,-9.446479,-5.087058,-9.334198,-9.933181,0.000000,0.000000
25%,-3.728757,-0.416887,-3.161553,-2.082399,1.000000,1.000000
50%,-0.712263,0.999967,-1.784255,-1.033435,2.000000,3.000000
75%,0.067137,2.540374,-0.701547,-0.427521,3.000000,3.000000
max,7.669931,6.573850,3.510869,0.794800,4.000000,4.000000

              1         2         3         4  label_pred  label_true
node
0     -6.800461  4.643725 -2.036360 -1.494950           9           0
1     -4.716460  3.453602 -1.775429 -0.668879           9           2
2     -7.015396  4.759561 -2.054296 -1.601033           9           2
3     -6.883151  4.669524 -2.219716 -1.284454           9           0
4     -6.722364  4.461022 -2.055892 -1.357758           9           0
...         ...       ...       ...       ...         ...         ...
13179 -3.868071  2.871834 -1.265776 -0.786467           9           0
13180 -0.997502 -1.378490 -0.241170 -4.315969           1           3
13181 -0.608167 -1.469856 -0.809283 -2.964195           1           3
13182  2.520513  1.157978 -3.690845 -0.700870           6           4
13183 -4.421030  1.942140 -0.983423 -1.307279           9           0

[13184 rows x 6 columns]

,1,2,3,4,label_pred,label_true
count,13184.000000,13184.000000,13184.000000,13184.000000,13184.000000,13184.000000
mean,-1.211152,1.112490,-1.772634,-1.746483,4.512288,2.190382
std,3.035529,2.146500,1.620022,1.970077,3.007992,1.315339
min,-9.714067,-5.279829,-10.201926,-10.142962,0.000000,0.000000
25%,-3.767562,-0.466696,-2.749442,-2.299421,2.000000,1.000000
50%,-0.716958,1.188536,-1.632691,-1.088055,5.000000,3.000000
75%,0.384841,2.745050,-0.705701,-0.375888,7.000000,3.000000
max,7.452444,7.176283,2.069302,0.795317,9.000000,4.000000

              1         2         3         4  label_pred  label_true
node
0     -6.841020  4.842885 -1.869969 -1.546838          17           0
1     -4.647691  3.514963 -1.550836 -0.749682           3           2
2     -7.082926  4.964895 -1.875181 -1.645398          17           2
3     -6.994099  4.887787 -2.030379 -1.367649          17           0
4     -6.730424  4.619171 -1.836410 -1.441660          17           0
...         ...       ...       ...       ...         ...         ...
13179 -3.683623  2.859181 -1.084024 -0.828466           3           0
13180 -1.141681 -1.855655 -0.545587 -4.323790          18           3
13181 -0.480344 -1.342886 -0.601691 -2.779025          18           3
13182  3.202816  2.189849 -3.150090 -1.615556           0           4
13183 -4.514269  2.112977 -0.877835 -1.342467          17           0

[13184 rows x 6 columns]

,1,2,3,4,label_pred,label_true
count,13184.000000,13184.000000,13184.000000,13184.000000,13184.000000,13184.000000
mean,-1.134218,1.176292,-1.633976,-1.824166,10.042703,2.190382
std,3.101592,2.210038,1.513799,1.961293,5.586085,1.315339
min,-9.736887,-5.312159,-10.052707,-9.522579,0.000000,0.000000
25%,-3.744451,-0.481914,-2.508289,-2.568235,6.000000,1.000000
50%,-0.685213,1.221515,-1.496483,-1.144779,9.000000,3.000000
75%,0.743184,2.899617,-0.632295,-0.417058,16.000000,3.000000
max,7.801274,7.602280,1.787508,0.913062,19.000000,4.000000

# Community Detection

In [389]:
# Conductance

for k in dfs:
    print("K =", k)
    df = dfs[k]
    conductance_min = 1
    for i in range(k):
        nodes = df[df.label_pred == i].index.to_numpy()
        if len(nodes) == 0: continue
        conductance_i = nx.conductance(G, nodes)
        print(f"  i{i} conductance: {conductance_i}")
        conductance_min = min(conductance_min, conductance_i)
    print(f"=>conductance: {conductance_min}")

K = 2
  i0 conductance: 0.048010025495873125
  i1 conductance: 0.048010025495873125
=>conductance: 0.048010025495873125
K = 5
  i0 conductance: 0.08011804568805334
  i1 conductance: 0.12810762331838565
  i2 conductance: 0.09822740182156497
  i3 conductance: 0.05032078534436114
  i4 conductance: 0.03328584380261624
=>conductance: 0.03328584380261624
K = 10
  i0 conductance: 0.13871552244815785
  i1 conductance: 0.2171785811361783
  i2 conductance: 0.18134927132798428
  i3 conductance: 0.032694938440492476
  i4 conductance: 0.31552587646076796
  i5 conductance: 0.25084459459459457
  i6 conductance: 0.2207247678945792
  i7 conductance: 0.18122853872567724
  i8 conductance: 0.23783783783783785
  i9 conductance: 0.0436677258284158
=>conductance: 0.032694938440492476
K = 20
  i0 conductance: 0.21921182266009853
  i1 conductance: 0.328656233135456
  i2 conductance: 0.8415841584158416
  i3 conductance: 0.0750053728777133
  i4 conductance: 0.18622848200312989
  i5 conductance: 0.6513317191283293
  i6 conductance: 0.2594764697468173
  i7 conductance: 0.35733643050716224
  i8 conductance: 0.23262104408980255
  i9 conductance: 0.029648139393530087
  i10 conductance: 0.19535419958153635
  i11 conductance: 0.12137006701414743
  i13 conductance: 1.0
  i15 conductance: 0.3539325842696629
  i16 conductance: 0.5589856670341786
  i17 conductance: 0.2533543804262036
  i18 conductance: 0.21278240700970708
  i19 conductance: 0.18057482656095145
=>conductance: 0.029648139393530087

In [390]:
# NMI

for k in dfs:
    print("K =", k)
    df = dfs[k]
    labels_pred = df.label_pred.to_numpy()
    labels_true = df.label_true.to_numpy()

    nmi = metrics.normalized_mutual_info_score(labels_true, labels_pred)
    print("NMI: ", nmi)

K = 2
NMI:  0.3857074793388268
K = 5
NMI:  0.5957147763352753
K = 10
NMI:  0.5852449824837167
K = 20
NMI:  0.5277372728135445

# Node Classification

In [391]:
# train LibSVM classifier on 90% of data and test on 10%.

for k in ks:
    print(f"k = {k}")
    df = dfs[k]

    # train/test split
    train, test = train_test_split(df, test_size=0.1)
    feature_col = np.arange(0, dim) + 1
    X_train = train.loc[:, feature_col]
    Y_train = train.label_true
    X_test = test.loc[:, feature_col]
    Y_test = test.label_true

    # fit
    clf = svm.SVC()
    clf.fit(X_train, Y_train)

    # pred
    Y_pred = clf.predict(X_test)

    # results
    micro_f1 = metrics.f1_score(Y_test, Y_pred, average='micro')
    macro_f1 = metrics.f1_score(Y_test, Y_pred, average='macro')
    print(f"  micro_f1: {micro_f1*100:.2f}")
    print(f"  macro_f1: {macro_f1*100:.2f}")

k = 2
  micro_f1: 89.23
  macro_f1: 88.97
k = 5
  micro_f1: 90.52
  macro_f1: 90.36
k = 10
  micro_f1: 91.21
  macro_f1: 90.94
k = 20
  micro_f1: 90.30
  macro_f1: 89.88