In [360]:
import sys
sys.path.append('../../')

from IPython.core.display import display
import numpy as np
import pandas as pd
import networkx as nx
import utils.graph_utils as graph_utils
from utils.IO_utils import load_ground_true
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn import svm

In [361]:
# settings
np.random.seed(2020)
name = "Dblp"
dim = 2
come_model_type = "BGMM"
ks = [2, 5, 10, 20]

In [362]:
# import graph and true labels

# graph
G = graph_utils.load_matfile(f"../../data/{name}/{name}.mat", undirected=True)

# labels_true
labels_true, _ = load_ground_true(path=f"../../data/{name}", file_name=name)
labels_true = np.array(labels_true) - 1  # 1..5 -> 0..4

In [363]:
# import node embeddings and predicted labels
dfs = {}
for k in ks:
    # import node embeddings
    df = pd.read_csv(
        f"./data/{name}_alpha-0.1_beta-0.1_ws-10_neg-5_lr-0.025_icom-219_ind-219_ds-0.0_d-{dim}_type-{come_model_type}_k-{k}.txt",
        sep="\t| ",
        header=None
    )
    df = df.rename(columns={0: 'node'})
    df.set_index(['node'], inplace=True)

    # import predicted labels
    labels_pred = pd.read_csv(f"./data/labels_pred_{come_model_type}_d{dim}_k{k}.txt", header=None)
    labels_pred = labels_pred.rename(columns={0: 'label_pred'})
    labels_pred.label_pred = labels_pred.astype(int)

    # join labels pred and true to embeddings
    df = df.join(labels_pred)
    df['label_true'] = labels_true

    print(f"k = {k}")
    display(df)
    display(df.describe())
    dfs[k] = df

/Users/anton/miniconda3/envs/MT/lib/python3.6/site-packages/ipykernel_launcher.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

/Users/anton/miniconda3/envs/MT/lib/python3.6/site-packages/ipykernel_launcher.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

/Users/anton/miniconda3/envs/MT/lib/python3.6/site-packages/ipykernel_launcher.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

/Users/anton/miniconda3/envs/MT/lib/python3.6/site-packages/ipykernel_launcher.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

k = 2
k = 5
k = 10
k = 20

              1         2  label_pred  label_true
node
0      1.286123  0.577509           1           0
1      0.982056  0.566335           1           2
2      1.359412  0.576667           1           2
3      1.336915  0.579795           1           0
4      1.365799  0.569054           1           0
...         ...       ...         ...         ...
13179  2.332630  0.647073           1           0
13180  0.491310  0.758429           1           3
13181  0.202133  0.807498           0           3
13182  1.097447  0.468421           1           4
13183  0.695060  0.679481           1           0

[13184 rows x 4 columns]

                  1             2    label_pred    label_true
count  13184.000000  13184.000000  13184.000000  13184.000000
mean       1.423579      2.356415      0.486954      2.190382
std        3.378621      2.490361      0.499849      1.315339
min       -3.632531      0.136543      0.000000      0.000000
25%       -0.489101      0.698993      0.000000      1.000000
50%        0.300262      1.318017      0.000000      3.000000
75%        1.680047      2.429821      1.000000      3.000000
max       13.769556     12.449275      1.000000      4.000000

              1         2  label_pred  label_true
node
0      1.352153  0.582932           3           0
1      1.114186  0.587815           3           2
2      1.411475  0.590256           3           2
3      1.426768  0.589569           3           0
4      1.434277  0.583090           3           0
...         ...       ...         ...         ...
13179  1.612501  0.550363           3           0
13180  0.446337  0.829410           2           3
13181  0.179679  0.910783           1           3
13182  1.552872  0.532086           3           4
13183  0.854346  0.656770           3           0

[13184 rows x 4 columns]

                  1             2    label_pred    label_true
count  13184.000000  13184.000000  13184.000000  13184.000000
mean       1.528348      2.429211      1.900637      2.190382
std        3.394325      2.638935      1.494531      1.315339
min       -3.324279      0.129260      0.000000      0.000000
25%       -0.386737      0.680094      1.000000      1.000000
50%        0.337265      1.382771      1.000000      3.000000
75%        1.673855      2.422146      3.000000      3.000000
max       13.707522     13.197050      4.000000      4.000000

              1         2  label_pred  label_true
node
0      1.328657  0.585205           6           0
1      1.069673  0.573356           6           2
2      1.396879  0.584950           6           2
3      1.399617  0.582423           6           0
4      1.413008  0.583084           6           0
...         ...       ...         ...         ...
13179  1.912183  0.607771           6           0
13180  0.452584  0.812210           3           3
13181 -0.466749  2.855247           5           3
13182  1.176325  0.479732           6           4
13183  0.804478  0.653688           6           0

[13184 rows x 4 columns]

                  1             2    label_pred    label_true
count  13184.000000  13184.000000  13184.000000  13184.000000
mean       1.553535      2.437627      3.951532      2.190382
std        3.441008      2.664336      1.832971      1.315339
min       -3.406817      0.138496      1.000000      0.000000
25%       -0.390525      0.703629      3.000000      1.000000
50%        0.342888      1.367069      4.000000      3.000000
75%        1.715608      2.418033      5.000000      3.000000
max       13.920100     13.425713      6.000000      4.000000

              1         2  label_pred  label_true
node
0      1.318439  0.578303           8           0
1      1.035711  0.568304           8           2
2      1.385092  0.575887           8           2
3      1.376412  0.584247           8           0
4      1.385279  0.573489           8           0
...         ...       ...         ...         ...
13179  2.364534  0.657486           9           0
13180  0.481868  0.774769           3           3
13181 -0.250789  2.113688          13           3
13182  1.122975  0.483843           8           4
13183  0.768052  0.660203           8           0

[13184 rows x 4 columns]

                  1             2    label_pred    label_true
count  13184.000000  13184.000000  13184.000000  13184.000000
mean       1.562302      2.430373      9.734603      2.190382
std        3.470484      2.668707      2.529360      1.315339
min       -3.506139      0.129730      3.000000      0.000000
25%       -0.399263      0.715584      8.000000      1.000000
50%        0.335453      1.360068      9.000000      3.000000
75%        1.782309      2.405933     13.000000      3.000000
max       13.884957     13.537922     13.000000      4.000000

# Community Detection

In [364]:
# Conductance

for k in dfs:
    print("K =", k)
    df = dfs[k]
    conductance_min = 1
    for i in range(k):
        nodes = df[df.label_pred == i].index.to_numpy()
        if len(nodes) == 0: continue
        conductance_i = nx.conductance(G, nodes)
        print(f"  i{i} conductance: {conductance_i}")
        conductance_min = min(conductance_min, conductance_i)
    print(f"=>conductance: {conductance_min}")

K = 2
  i0 conductance: 0.021070234113712373
  i1 conductance: 0.021070234113712373
=>conductance: 0.021070234113712373
K = 5
  i0 conductance: 0.02551070276610302
  i1 conductance: 0.12795978925694906
  i2 conductance: 0.3727126805778491
  i3 conductance: 0.07776814108123735
  i4 conductance: 0.13716451146618744
=>conductance: 0.02551070276610302
K = 10
  i1 conductance: 0.030197444831591175
  i3 conductance: 0.3623649078194533
  i4 conductance: 0.13586348017451064
  i5 conductance: 0.13004841576270149
  i6 conductance: 0.08509239646483091
=>conductance: 0.030197444831591175
K = 20
  i3 conductance: 0.37299338999055714
  i8 conductance: 0.09183073758448428
  i9 conductance: 0.03289726818006926
  i10 conductance: 0.1359850548766249
  i13 conductance: 0.1296968956991545
=>conductance: 0.03289726818006926

In [365]:
# NMI

for k in dfs:
    print("K =", k)
    df = dfs[k]
    labels_pred = df.label_pred.to_numpy()
    labels_true = df.label_true.to_numpy()

    nmi = metrics.normalized_mutual_info_score(labels_true, labels_pred)
    print("NMI: ", nmi)

K = 2
NMI:  0.4623820822063423
K = 5
NMI:  0.46502447614120096
K = 10
NMI:  0.46005304584573076
K = 20
NMI:  0.45371067853180896

# Node Classification

In [366]:
# train LibSVM classifier on 90% of data and test on 10%.

for k in ks:
    print(f"k = {k}")
    df = dfs[k]

    # train/test split
    train, test = train_test_split(df, test_size=0.1)
    feature_col = np.arange(0, dim) + 1
    X_train = train.loc[:, feature_col]
    Y_train = train.label_true
    X_test = test.loc[:, feature_col]
    Y_test = test.label_true

    # fit
    clf = svm.SVC()
    clf.fit(X_train, Y_train)

    # pred
    Y_pred = clf.predict(X_test)

    # results
    micro_f1 = metrics.f1_score(Y_test, Y_pred, average='micro')
    macro_f1 = metrics.f1_score(Y_test, Y_pred, average='macro')
    print(f"  micro_f1: {micro_f1*100:.2f}")
    print(f"  macro_f1: {macro_f1*100:.2f}")

k = 2
feature_col: [1 2]
  micro_f1: 67.10
  macro_f1: 50.93
k = 5
feature_col: [1 2]
  micro_f1: 67.17
  macro_f1: 49.64
k = 10
feature_col: [1 2]
  micro_f1: 66.19
  macro_f1: 48.62
k = 20
feature_col: [1 2]
  micro_f1: 67.02
  macro_f1: 49.59